torch>=1.1.0
torchvision
scipy~=1.16.3
numpy~=2.3.5
pytest
editdistance~=0.8.1
dataclasses
rich
scikit-learn~=1.7.2
wandb
submitit
matplotlib~=3.10.7
pandas~=2.3.3
tqdm~=4.67.1
h5py
torchmetrics
seaborn~=0.13.2
EGG~=0.1.0
PyYAML~=6.0.3